{% extends "blog/base.html" %}
{% block content %}
    <h1 class="display-3">About Page</h1>
    <p class="lead">
        Hello my name is Michael Loudon. <br>
        This is a Django Project that I've built. <br>
        You can create a profile and from that profile you can create and delete posts. <br>
        You can also upload a profile picture as well. <br><br>
        Thanks for checking out my project. <br>
        Here is a link to my github, where you can view more of my work: <br>
        
    </p>
    <a class="btn btn-primary btn-lg btn-block"  href="https://www.linkedin.com/in/michael-loudon-dev/">My LinkedIn</a>
    <a class="btn btn-primary btn-lg btn-block"  href="https://github.com/micloudon">My Github</a>
{% endblock content %}

