{% extends "blog/base.html" %}
{% block content %}
<h1 class="mt-5 display-4">Projects:</h2>
    <h2 class="mt-5">Passer Rating Project:</h2>
        <p class="lead">
            Calculates a Quaterbacks passer rating
        </p>
        <a class="btn btn-primary btn-lg"  href="https://micloudon.github.io/passer-rating1.1/">Passer Rating</a>
        <a class="btn btn-primary btn-lg"  href="https://github.com/micloudon/passer-rating1.1">Code Repo</a>

    <h2 class="mt-5">Rock Paper Scissors Project:</h2>
        <p class="lead">
            Play a game of rock, paper, scissors!
        </p>
        <a class="btn btn-primary btn-lg"  href="https://micloudon.github.io/RockPaperScissors/">Rock Paper Scissors</a>
        <a class="btn btn-primary btn-lg"  href="https://github.com/micloudon/RockPaperScissors">Code Repo</a>

    <h2 class="mt-5">Create, Read , Update and Delete:</h2>
        <p class="lead">
        This simple project uses Flask, <br> 
        to build a table of tasks to complete
        </p>
        <a class="btn btn-primary btn-lg"  href="https://py-flask-crudapp-tutorial.herokuapp.com/">Flask CRUD</a>
        <a class="btn btn-primary btn-lg"  href="https://github.com/micloudon/Flask_crud">Code Repo</a>

    <h2 class="mt-5">Code Repo for this blog:</h2>
        <p class="lead">
        Come check it out!
        </p>
        <a class="btn btn-primary btn-lg"  href="https://github.com/micloudon/Django_Blog_Project">Code Repo</a>
        
        <a class="btn btn-primary btn-lg"  href="https://github.com/micloudon/job_scraper">Code Repo</a>  

    <h1 class="mt-5 display-4">Certificates:</h2>
        <a class="btn btn-primary btn-lg btn-block mt-5"  href="https://i.ibb.co/nRDGX3m/Machine-Learning-Cert.jpg">Machine Learning with Python</a>
        <a class="btn btn-primary btn-lg btn-block mt-5"  href="https://i.ibb.co/Drmy8Mm/certificate-of-completion-for-python-programming-for-beginners.jpg">Complete Python Course</a>
        <a class="btn btn-primary btn-lg btn-block mt-5"  href="https://i.ibb.co/jwzbQXW/certificate-of-completion-for-object-oriented-programming-in-javascript.jpg">Object Oriented Programming in Javascript</a>
        <a class="btn btn-primary btn-lg btn-block mt-5"  href="https://i.ibb.co/3ktHq44/certificate-of-completion-for-javascript-basics.jpg">Javascript Basics for beginners</a>
        <p></p>
            <br><br><br>
        
{% endblock content %}